<p id="notice"><%= notice %></p>


<div class="content-wrapper">
    <section class="content-header">
        <h1>
        Index
        <small><%= link_to "(sync requests)", request_sync_path(), :method=> :post %></small>
        </h1>
        <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
        </ol>
    </section>


    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-success">
                    <div class="box-header">
                        <h3 class="box-title">Active commit</h3>
                    </div>
                    <%= render partial: "commits", object: @commits %>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Past commits</h3>
                    </div>
                    <!-- /.box-header -->
                    <%= render partial: "commits", object: @commits %>
                </div>
            </div>
        </div>
    </section>
</div>