<div class="box-body no-padding">
    <table class="table table-striped">
        <tbody><tr>
            <th>Request ID</th>
            <th>Time</th>
            <th>Score</th>
        </tr>
        <% responses.each do |response| %>
                <tr>
                    <td><%= link_to response.request_id, commit_url_response_path(@commit.id, @url.id, response.id) %></td>
                    <td><%= response.time.strftime("%e %b %T") %></td>                    
                    <td>
                        <% if response.score %>
                            <span class="badge bg-<%= response.color %>"><%= response.score %></span>
                        <% end %>
                    </td>
                </tr>
        <% end %>
        </tbody>
    </table>
</div>
