@import "bootstrap-sprockets";
@import "bootstrap";
@import "adminlte";
@import "skin-blue";
@import "font-awesome";
@import "ionicons";

.wrapped_element {
    word-break: break-word;
}

.full_request {
    padding: 10px;
}

.diff ul{
    background:#fff;
    overflow:auto;
    list-style:none;
    margin:0;
    padding: 10px;
    display:table;
    width:100%;
}
.diff del, .diff ins{
    display:block;
    text-decoration:none;
}
.diff li{
    padding:0;
    display:table-row;
    margin: 0;
    height:1em;
    }
.diff li.ins{
    background:#dfd;
    color:#080
}
.diff li.del{
    background:#fee;
    color:#b00
}
.diff li:hover{
    background:#ffc
}
/* try &#39;whitespace:pre;&#39; if you don&#39;t want lines to wrap */
.diff del, .diff ins, .diff span{
    white-space:pre-wrap;
}
.diff del strong{
    font-weight:normal;
    background:#fcc;
}
.diff ins strong{
    font-weight:normal;
    background:#9f9;
}
.diff li.diff-comment {
    display: none;
}
.diff li.diff-block-info {
    background: none repeat scroll 0 0 gray;
}
